*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: white;
  line-height: 1.6;
  color: #f8f8f8;
}

/* Typography */
p,
h1,
h2 {
  color: #f6f7fb;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #b7b7b7;
}

#body-container {
  width: 100vw;
  max-width: 550px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  max-height: 10vh;
}

img {
  height: 40px;
}

main {
  width: 100%;
  height: 90vh;
}

article {
  height: 80%;
  margin: 0 0.5em;
}

#logo {
  background: linear-gradient(270deg, #fa695a 0%, #f83375 100%);
  border-radius: 30px;
}

.container {
  background-image: url('images/dog-teddy.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reaction {
  transform: rotate(-30deg);
  width: fit-content;
}

.reaction img {
  height: 80px;
  position: relative;
  top: 32px;
  left: -10px;
}

#profile-info {
  margin: 0.5rem 1rem;
}

#actions {
  margin: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}

#actions button {
  cursor: pointer;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 10px 20px #e9e9ea;
}

#btn-cross:hover,
#btn-cross:focus {
  background-color: #ffe7ef;
}

#btn-heart:hover,
#btn-heart:focus {
  background-color: #dbfff4;
}
